.content {
    width: 890px;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    margin-left: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-owner {
    width: 21%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;

    &__name {
        margin: 0;
        color:#3F4548;
        @include font($size: 1.4rem, $height: 2.6rem, $weight: 600);

    }
    
    &__time {
        margin: 0;
        color: #ADADAD;
        @include font($size: 1.4rem, $height: 2.6rem, $weight: 600);
    }
}

.post-avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.content__icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    @extend %transition;

    &:hover {
        background-color: rgba(220, 220, 220, 0.2);
    }
}

.content__description {
    width: 90%;
    color:#3F4548;
    @include font($size: 1.3rem, $height: 2.6rem, $weight: 400);
    margin-left: 20px;
}

.content__footer {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 1px solid #F2F2F2;
}

.icon-comment {
    margin-right: 85%;
}

.overflow-menu {
    margin-right: 30px;
    margin-top: 38px;
}